@page "/inventory"

<nav class="navbar navbar-light bg-light justify-content-between">
    <h1 class="navbar-brand mb-0 h1">Todos</h1>
    <button class='btn btn-primary @(_role == "User" ? "display-none" : "" )' type="button" @onclick="OpenAddTodoDialog">
        <span class="oi oi-plus" /> Add
    </button>
</nav>
<ul class="nav nav-tabs">
    <li class="nav-item ">
        <a class='nav-link btn @(_tabFilter == "All" ? "active" : "")' @onclick='()=>TabFilter("All")'>All</a>
    </li>
    <li class="nav-item">
        <a class='nav-link btn @(_tabFilter == "Due" ? "active" : "")' @onclick='()=>TabFilter("Due")'>Due</a>
    </li>
    <li class="nav-item">
        <a class='nav-link btn @(_tabFilter == "Done" ? "active" : "")' @onclick='()=>TabFilter("Done")'>Done</a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>

            <th>
                <div class="d-flex">
                    <input type="search" class="form-control search" placeholder="Search" @oninput="SearchItemName" />
                    <a class='btn text-@(_sortBy == "ItemName" ? "primary" : "secondary")' data-mdb-toggle="tooltip"
                        @onclick='()=>SortByHandler("ItemName")'>
                        <span class='oi oi-sort-@(_sortBy == "ItemName" ? _sortDirection : "ascending")' />
                    </a>
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Quantity
                    <a class='btn text-@(_sortBy == "quantity" ? "primary" : "secondary")' data-mdb-toggle="tooltip"
                        @onclick='()=>SortByHandler("quantity")'>
                        <span class='oi oi-sort-@(_sortBy == "quantity" ? _sortDirection : "ascending")' />
                    </a>
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Created At
                    <a class='btn text-@(_sortBy == "createdAt" ? "primary" : "secondary")' data-mdb-toggle="tooltip"
                        @onclick='()=>SortByHandler("createdAt")'>
                        <span class='oi oi-sort-@(_sortBy == "createdAt" ? _sortDirection : "ascending")' />
                    </a>
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            IEnumerable<InventoryItem> itemList = _items;
  
            if (_sortBy == "itemName")
            {
                itemList = _sortDirection == "ascending" ? itemList.OrderBy(t => t.ItemName) : itemList.OrderByDescending(t =>
                t.ItemName);
            }
            else if (_sortBy == "quantity")
            {
                itemList = _sortDirection == "ascending" ? itemList.OrderBy(t => t.Quantity) : itemList.OrderByDescending(t =>
                t.Quantity);
            }

            else if (_sortBy == "createdAt")
            {
                itemList = _sortDirection == "ascending" ? itemList.OrderBy(t => t.CreatedAt) : itemList.OrderByDescending(t =>
                t.CreatedAt);
            }



            foreach (var InventoryItem in itemList)
            {
                        <tr>

                            <td>@InventoryItem.ItemName</td>
                            <td>
                                @InventoryItem.Quantity
                            </td>
                        <td>
                            <p class="small mb-0">
                                @InventoryItem.CreatedAt.ToString("MMM dd, yyyy h:mm tt")
                            </p>
                        </td>
                        <td>


                        <button class='btn btn-outline-secondary  @(_role == "Admin" ? "display-none" : "")' type="button"
                            @onclick="()=>OpenTakeOutItemDialog(InventoryItem)">
                            <span class="oi oi-pencil" /> Take out
                        </button>

                        <button class='btn btn-outline-secondary  @(_role == "User" ? "display-none" : "")' type="button"
                            @onclick="()=>OpenEditItemDialog(InventoryItem)">
                            <span class="oi oi-pencil" /> Edit
                        </button>
                        <button class='btn btn-outline-danger @(_role == "User" ? "display-none" : "")' type="button" @onclick="()=>OpenDeleteItemDialog(InventoryItem)">
                            <span class="oi oi-delete" /> Delete
                        </button>
                                
                   
                        </td>
                    </tr>
            }
        }
    </tbody>
</table>

@if (_showEditItemDialog)
{
    <ModalDialog Title="@_dialogTitle" OnClose="@OnEditItemDialogClose" OkLabel="@_dialogOkLabel">
    <div class="form-floating">
        <input id="ItemName" type="text" class="form-control" @bind="_itemModel.ItemName" placeholder="Item Name" />
        <label for="ItemName">Item Name</label>
    </div>
        <div class="form-floating">
        <input id="ItemName" type="text" class="form-control" @bind="_itemModel.Quantity" placeholder="Item Quantity" />
        <label for="ItemName">Item Quantity</label>
    </div>


    @if (!string.IsNullOrEmpty(_editItemErrorMessage))
        {
            <AlertMessage Type="danger" Message="@_editItemErrorMessage" />
        }
        </ModalDialog>
}

@if (_showTakeOutItemDialog)
{
    <ModalDialog Title="@_dialogTitle" OnClose="@OnTakeOutItemDialogClose" OkLabel="@_dialogOkLabel">
        <div class="form-floating">
            <input id="ItemName" type="text" class="form-control" @bind="_itemModel.ItemName" placeholder="Item Name" />
            <label for="ItemName">Item Name</label>
        </div>
        <div class="form-floating">
            <input id="ItemQuantity" type="text" class="form-control" @bind="_takeQuantity" placeholder="Item Quantity" />
            <label for="ItemQuantity">Item Quantity</label>
        </div>


        @if (!string.IsNullOrEmpty(_takeOutItemErrorMessage))
        {
            <AlertMessage Type="danger" Message="@_takeOutItemErrorMessage" />
        }
    </ModalDialog>
}

@if (_showDeleteItemDialog)
{
    <ModalDialog Title="Delete Todo" OnClose="@OnDeleteItemDialogClose" OkLabel="Confirm">
    <p>Are you sure you want to delete <strong>@_deleteItem.ItemName</strong> item?</p>
    @if (!string.IsNullOrEmpty(_deleteItemErrorMessage))
        {
            <AlertMessage Type="danger" Message="@_deleteItemErrorMessage" />
        }
        </ModalDialog>
}

@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private bool _showEditItemDialog { get; set; }
    private bool _showDeleteItemDialog { get; set; }
    private bool _showTakeOutItemDialog { get; set; }
    private List<InventoryItem> _items { get; set; }
    private List<RequestedItem> _requestedItems { get; set; }
    private InventoryItem _deleteItem { get; set; }
    private string _dialogTitle { get; set; }
    private string _dialogOkLabel { get; set; }
    private string _editItemErrorMessage { get; set; }
    private string _takeOutItemErrorMessage { get; set; }
    private string _deleteItemErrorMessage { get; set; }
    private InventoryItem _itemModel { get; set; }
    private string _tabFilter = "All";
    private string _sortBy = "dueDate";
    private string _sortDirection = "ascending";
    private int _takeQuantity;
    private User _user;
    private string _userName;
    private string _role;



    protected override void OnInitialized()
    {
        _items = InventoryItemService.GetAll();
        _requestedItems = InventoryItemService.GetAllRequestedItems();
        _user = UsersService.GetById(_globalState.CurrentUser.Id);
        _userName = _user.Username.ToString();

        _role = _user.Role.ToString();


    }

    private void SortByHandler(string sortByName)
    {
        if (_sortBy == sortByName)
        {
            _sortDirection = _sortDirection == "ascending" ? "descending" : "ascending";
        }
        else
        {
            _sortBy = sortByName;
            _sortDirection = "ascending";
        }
    }

    private void OpenAddTodoDialog()
    {
        _dialogTitle = "Add Item";
        _dialogOkLabel = "Add";
        _itemModel = new InventoryItem();
        _itemModel.Id = Guid.Empty;
        _showEditItemDialog = true;
    }

    private void SearchItemName(ChangeEventArgs e)
    {
        var searchTerm = e.Value.ToString();
        if (!string.IsNullOrEmpty(searchTerm) && searchTerm.Length > 2)
        {
            _items = InventoryItemService.GetAll().Where(t =>
            t.ItemName.ToLower().Contains(searchTerm.ToLower())).ToList();
        }
        else
        {
            _items = InventoryItemService.GetAll();
        }
    }

    private void OpenEditItemDialog(InventoryItem editItem)
    {
        _dialogTitle = "Edit Item";
        _dialogOkLabel = "Save";

        _itemModel = editItem;

        _showEditItemDialog = true;
    }
    private void OpenTakeOutItemDialog(InventoryItem takeItem)
    {
        _dialogTitle = "Take Item Out";
        _dialogOkLabel = "Save";

        _itemModel = takeItem;

        _showTakeOutItemDialog = true;
    }
    private void OpenDeleteItemDialog(InventoryItem InventoryItem)
    {
        _deleteItem = InventoryItem;
        _showDeleteItemDialog = true;
    }

    private void updateDate(ChangeEventArgs e)
    {
        //_todoModel.DueDate = DateTime.Parse(e.Value.ToString());
    }
    private void OnEditItemDialogClose(bool isCancel)
    {
        if (isCancel)
        {
            _showEditItemDialog = false;
        }
        else
        {
            try
            {
                _editItemErrorMessage = "";
                if (_itemModel.Id == Guid.Empty)
                {
                    _items = InventoryItemService.Create(_itemModel.ItemName,_itemModel.Quantity );
                    InventoryItemService.UpdateDetailedInventory();
                }
                else
                {
                    _items = InventoryItemService.Update(_itemModel.Id, _itemModel.ItemName,_itemModel.Quantity
                   );
                    InventoryItemService.UpdateDetailedInventory();
                }
                _showEditItemDialog = false;
            }
            catch (Exception e)
            {
                _editItemErrorMessage = e.Message;

            }
        }
    }

    private void OnTakeOutItemDialogClose(bool isCancel){
        if (isCancel){
            _showTakeOutItemDialog = false; 
        }
        else{
            try
            {
                _takeOutItemErrorMessage = "";
                if (_itemModel.Quantity < _takeQuantity)
                {
                    _takeOutItemErrorMessage = "You cannot take out more quantity than" + _itemModel.Quantity;
                }
                else { 
                    _requestedItems = InventoryItemService.RequestItem(_userName, _itemModel.ItemName, _takeQuantity);
                    _showTakeOutItemDialog = false;
                
                }
                

            }
            catch (Exception e) {
                _takeOutItemErrorMessage = e.Message;
                
            }
        }

    }
    private void OnDeleteItemDialogClose(bool isCancel)
    {
        if (isCancel)
        {

            _showDeleteItemDialog = false;
            _deleteItem = null;
        }
        else
        {
            try
            {
                _deleteItemErrorMessage = "";
                _items = InventoryItemService.Delete( _deleteItem.Id);
                _showDeleteItemDialog = false;
                _deleteItem = null;
            }
            catch (Exception e)
            {
                _deleteItemErrorMessage = e.Message;
            }
        }
    }
    private void TabFilter(string status)
    {
        _tabFilter = status;
    }

}
